* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.active {
    display: block;
}

.hidden {
    display: none;
}

body {
    background-image: url("../image-from-rawpixel-id-541725-jpeg-5000x3337.jpg.webp");
    background-color: rgb(46, 46, 180);
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

.error-message {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    font-size: 0.6rem;
    text-align: center;
    background-color: #ff3838;
    color: #f5f0f0;
    padding: 10px;
    box-shadow: 1px 1px 4px black;
    border-radius: 5px;
}

.container {
    justify-content: center;
    align-items: center;
    background-color: #f1edc6;
    padding: 2rem;
    border: 2px solid black;
    box-sizing: border-box;
    width: 500px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px black;
}

.btc-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.container h1 {
    font-size: 1.5rem;
    text-align: center;
}


.money-input {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 0.5rem;   
}

.money-input input {
    margin-top: 12px;
    width: 100;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    outline: 0;
}

.money-input label {
    font-weight: bolder;
    font-size: 1.2rem;
}

.btn-calcular {
    margin: 0 auto;
    text-align: center;
}

#btn-btc-calc {
    padding: 15px 30px;
    background-color: rgb(91, 199, 91);
    color: white;
    transition: 0.4s;
}

#btn-btc-calc:hover {
    color: rgb(91, 199, 91);
    background-color: white;
    cursor: pointer;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
} 


/* segunda div */ 

.data-return {
    padding: 15px 0px;
}

#btn-voltar {
    padding: 15px 30px;
    background-color: rgb(221, 40, 40);
    color: white;
    transition: 0.4s;
}

#btn-voltar:hover {
    color:  rgb(221, 40, 40);
    background-color: white;
    cursor: pointer;
}
