:root {
    --azul-claro: #abcbe6;
    --azul-escuro: rgb(21, 39, 113);
}


* {
    padding: 0;
    margin: 0;
    font-family: "Chau Philomene One";
    color:  rgb(5, 12, 39);
}

.active {
    display: block;
}

.hidden {
    display: none;
}

body {
    background-image: url("../imagembtc.png");
    background-size: cover;
    justify-content: right;
    display: flex;
    height: 100vh;
}

.error-message {
    position: fixed;
    top: 28px;
    right: 35px;
    width: 330px;
    font-size: 0.6rem;
    text-align: center;
    background-color: #ff3838;
    color: #f5f0f0;
    padding: 10px;
    box-shadow: 1px 1px 4px black;
    border-radius: 5px;
}

.error-message h1 {
    color: white;
}

.container {
    justify-content: right;
    margin-right: 130px;
    margin-top: 85px;
    background-color: var(--azul-claro);
    padding: 2rem;
    box-sizing: border-box;
    width: 600px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px black;
    height: 550px;
}

.btc-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.container h1 {
    font-size: 1.5rem;
    text-align: center;
}


.money-input {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0.5rem;   
}

#preco-medio::placeholder,
#preco-atual::placeholder,
#valor-comprado::placeholder {
    color: var(--azul-claro);
}

.money-input input {
    margin-top: 12px;
    height: 40px;
    padding: 5px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: var(--azul-escuro);
    color: var(--azul-claro);
    border: none;
}

.money-input input:focus {
    outline: none;
}


.money-input label {
    font-size: 1.2rem;
    padding: 3px;
    /*background-color: rgb(215, 246, 250);*/
    border-radius: 8px;
    width: 50%;
}

.btn-calcular {
    margin: 17px auto;
    text-align: center;
}

#btn-btc-calc {
    padding: 15px 30px;
    background-color: var(--azul-escuro);
    color: var(--azul-claro);
    transition: 0.4s;
    opacity: 1;
}

#btn-btc-calc:hover {
    opacity: 0.85;
    cursor: pointer;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
} 


/* segunda div */ 

.data-return {
    padding: 15px 0px;
}

#btn-voltar {
    padding: 15px 30px;
    background-color: rgb(221, 40, 40);
    color: white;
    transition: 0.4s;
}

#btn-voltar:hover {
    color:  rgb(221, 40, 40);
    background-color: white;
    cursor: pointer;
}
